body {
	margin: 0;
	animation: bmb 4s ease-in-out infinite;
	background: black;
	color: white;
	font-size: 32px;
	font-family: "Montserrat", sans-serif;
	overflow: hidden;
	text-shadow: 0 0 16px rgba(255, 255, 255, 0.5);
	user-select: none;
}

.nointeract {cursor: default}

.interact {cursor: pointer}

.obj_centered {
	position: absolute;
	left: 50%; top: 50%; transform: translate(-50%, -50%);
	display: flex; justify-content: center;
}

.clickzoom {
	transition: font-size 0.2s cubic-bezier(0.2, 0.92, 0.2, 0.9);
}

#loading {
	transition: font-size 0.2s cubic-bezier(0.2, 0.92, 0.2, 0.9), transform 0.5s ease-in, top 0.5s ease-in, opacity 0.5s ease-out;
}

#loading.clicked {
	opacity: 0;
	top: 100%;
	transform: translate(-50%, -50%) rotate(180deg);
}

#bg {
	opacity: 0;
	background: radial-gradient(
		circle at bottom,
		rgba(100, 100, 100, 0.3) 0%,
		rgba(0, 0, 0, 1) 100%
	);
	z-index: -99;
}

@keyframes breathe {
  0%, 100% {opacity: 0}
  20% {opacity: 1}
}

nav {
	position: absolute;
	bottom: 32px;
	right: 32px;
	text-align: right;
}

nav>p {
	display: block;
	/*background: pink; /*FOR DEBUG*/
	margin: 0;
	padding: 4px 0;
}

#desc {
	position: absolute;
	top: 32px;
	left: 32px;
	line-height: 28px;
}

a {
	text-shadow: 0 0 16px rgba(255, 0, 0, 0.5);
	text-decoration: none;
	color: red;
}

a:hover {
	text-decoration: underline dotted;
	text-underline-offset: 2px;
}

.center_div {
	position: absolute;
	left: -512px;
	top: 50%;
	transform: translateY(-50%);
	transition: left 0.5s ease-in-out;
	display: flex;
	height: 192px;
	width: 512px;
	line-height: 28px;	
}

#img_ewelyss {
	transition: left 0.5s ease-in-out, filter 1s ease-in-out;
}

span {color: #888888;}

img {
	height: 100%;
	border-radius: 8px;
	filter: blur(10px);
	transition: filter 1s ease-in-out;
}

.stars {
	position: absolute;
	transition: transform 0.2s ease-out, opacity 0.2s ease-out;
}

canvas {
	position: absolute;
	width: 100vw;
	height: 100vh;
	opacity: 0;
	transition: opacity 5s ease-in-out;
}